
# Created by https://www.gitignore.io/api/eclipse

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.npm-debug.log
.DS_Store

# NodeJS
node_modules/

# AngularJS
public/dist/
public/node_modules/
package-lock.json
