<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button class="btn btn-icon btn-round" id="minimizeSidebar" onclick="toggleNavbar()"><i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i><i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
        </button>
      </div>
      <div class="navbar-toggle">
        <button class="navbar-toggler" type="button" onclick="toggleNavbarOnDevice()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
        	<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">User </a>
        	<div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
        		<a class="dropdown-item" href="#">Settings</a>
        		<a class="dropdown-item" href="#">Logout</a>
        	</div>
        </li>
      </ul>
    </div>
  </div>
</nav>
