
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            <!-- <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div> -->
            App
        </a>
    </div>
    <ul class="nav">
      <li class="active"><!----><a href="/paper-dashboard-pro-angular/dashboard"><i class="nc-icon nc-bank"></i><p>My Matches</p></a><!----><!----></li>
      <li ><!----><a href="/paper-dashboard-pro-angular/dashboard"><i class="nc-icon nc-bank"></i><p>My Profiles</p></a><!----><!----></li>
      <li ><!----><a href="/paper-dashboard-pro-angular/dashboard"><i class="nc-icon nc-bank"></i><p>Shortlisted</p></a><!----><!----></li>
    </ul>
</div>
