<div class="main-content">
	<span>Matches</span>
	<div class="row">
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Email Statistics</h5>
          <p class="card-category">Last Campaign Performance</p>
        </div>
        <div class="card-body ">
          <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas class="ct-chart ct-perfect-fourth chartjs-render-monitor" height="137" id="chartDonut1" width="209" style="display: block; width: 209px; height: 137px;"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend"><i class="fa fa-circle text-info"></i> Open </div>
          <hr>
          <div class="stats"><i class="fa fa-calendar"></i> Number of emails sent </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">New Visitators</h5>
          <p class="card-category">Out Of Total Number</p>
        </div>
        <div class="card-body ">
          <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas class="ct-chart ct-perfect-fourth chartjs-render-monitor" height="137" id="chartDonut2" width="209" style="display: block; width: 209px; height: 137px;"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend"><i class="fa fa-circle text-warning"></i> Visited </div>
          <hr>
          <div class="stats"><i class="fa fa-check"></i> Campaign sent 2 days ago </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Orders</h5>
          <p class="card-category">Total number</p>
        </div>
        <div class="card-body ">
          <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas class="ct-chart ct-perfect-fourth chartjs-render-monitor" height="137" id="chartDonut3" width="209" style="display: block; width: 209px; height: 137px;"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend"><i class="fa fa-circle text-danger"></i> Completed </div>
          <hr>
          <div class="stats"><i class="fa fa-clock-o"></i> Updated 3 minutes ago </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Subscriptions</h5>
          <p class="card-category">Our Users</p>
        </div>
        <div class="card-body ">
          <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas class="ct-chart ct-perfect-fourth chartjs-render-monitor" height="137" id="chartDonut4" width="209" style="display: block; width: 209px; height: 137px;"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend"><i class="fa fa-circle text-secondary"></i> Ended </div>
          <hr>
          <div class="stats"><i class="fa fa-history"></i> Total users </div>
        </div>
      </div>
    </div>
  </div>
</div>